<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 screen-container">
		<div>
			<h1>Chat App</h1>
		</div>
		<div class="scroll-wrapper">
			<span class="scroll-bar-pusher"></span>
			<div *ngIf="messages.length < 1" class="text-center">No new messages!</div>
			<div class="message-log">
				<div *ngFor="let message of messages" [ngClass]="message.class" class="message">
					<span class="username">{{ message.username }}</span>
					<br>
					{{ message.message }}
				</div>
			</div>
		</div>
		<div class="chat-input">
			<form (ngSubmit)="onSend(messageForm)" #messageForm="ngForm">
				<div class="input-group">
					<input
					class="form-control"
					ngModel
					name="message"
					required>
					<button
					class="btn btn-primary"
					[disabled]="!messageForm.valid" type="submit">
					Send</button>
				</div>
			</form>
		</div>
  </div>
</div>
