<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 screen-container">
		<div>
			<span class="banner">Chat App</span>
		</div>
		<div><button class="btn btn-primary refresh" (click)="onRefresh()">Refresh</button></div>
		<div class="server-list list-group">
			<div *ngFor="let room of rooms" class="list-group-item">
				<span class="server-name">{{ room }}</span>
				<button class="btn btn-primary join" (click)="onJoin(room)">Join</button>
			</div>
  	</div>
	</div>
</div>
