<div class="row">
  <div class="col-6 offset-3">
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username (at least 4 characters)</label>
        <input
        class="form-control"
        ngModel
        id="username"
        name="username"
        minlength="4"
        required>
      </div>
      <button
      class="btn btn-primary"
      [disabled]="!loginForm.valid" type="submit">
      Chat!</button>
    </form>
  </div>
</div>
